@import "./color_schemes/light";

@font-face {
  font-family: Montserrat;
  src: url('./Montserrat-VariableFont_wght.ttf')
}

@font-face {
  font-family: Montserrat;
  src: url('./Montserrat-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-VariableFont_slnt,wght.ttf');
}

html {
  font-size: 16px;
  font-family: Inter,Helvetica,Arial,sans-serif;

  body {
    color: #24292f;
    letter-spacing: 0;
    text-align: left;
    background-color: #F8F9FA;

    .side-bar {
      max-width: 460px;
      min-width: 460px;
      background-color: #fff;
      scrollbar-color: #b1b1b1 #eee;
      scrollbar-width: thin;

      .footer-logo {
        height: 3rem;
        margin: 25px auto;
        display: block;
      }

      .copyright {
        text-align: center;
      }

      .top-logo {
        width: 98px;
        margin: 30px 0 15px 20px;
      }

      .site-header {
        @media (min-width: 50rem) {
          display: none;
        }

        width: 400px;
        border-bottom: none !important;

        .site-title:hover {
          background: none !important;
        }

        .site-title {
          .site-logo {
            width: 98px;
          }
        }
      }

      .site-nav {
        padding-top: 0;
        width: 360px;

        .nav-list {
          .nav-list-item {
            .nav-list-link {
              cursor: pointer;
              text-decoration: none;
              font-family: Montserrat, Helvetica, Arial, sans-serif;
              border-radius: .75rem;
              color: #333;
              font-size: 1rem;
              font-weight: 500;
              line-height: 1.3125rem;
              padding: .75rem 1rem;
              margin: 15px 20px 0;
            }

            .nav-list {
              .nav-list-link::before {
                content: "> \00a0";
              }

              .nav-list-link {
                font-size: .875rem;
                font-weight: 300;
              }

              .nav-list-link.active {
                font-weight: 500;
              }

              .nav-list {
                .nav-list-link::before {
                  content: ">> \00a0";
                }
              }
            }

            .nav-list-link:hover {
              background: #f7f7f7 !important;
            }

            .nav-list-link.active {
              background: #e5f2f2;
              color: #005050;
            }
          }
        }

        .nav-list-expander {
          display: none;
        }
      }
    }

    #top {
      margin-left: 400px;
      max-width: none;
    }

    #main-content {
      main {
        max-width: 1460px;
        padding-top: 15px;
        color: #343a40 !important;
        font-weight: 400;
        -moz-osx-font-smoothing: grayscale;

        blockquote {
          border-left: .25rem solid #d0d7de;
        }

        code {
          background: rgba(0,0,0,.05);
          border-radius: .25rem;
          font-family: monospace;
          font-size: 14px;
          padding: .125rem .25rem;
        }

        h1, h2, h3 {
          font-family: Montserrat,Helvetica,Arial,sans-serif !important;
          font-weight: 700;
        }

        h1 {
          color: #005050;
          font-size: 1.625rem !important;
          line-height: 1.9375rem;
          margin-bottom: 2rem;
        }

        h2 {
          font-size: 1.3125rem !important;
          line-height: 1.5rem;
          color: #343a40 !important;
          letter-spacing: 0;
          margin-top: 3rem;
          border-bottom: 1px solid #D8DEE4;
          padding-bottom: .3em;
          margin-bottom: 16px;
        }

        a {
          color: #3583df;
          cursor: pointer;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }

        p {
          font-size: .938rem;
          line-height: 1.313rem;
          font-family: Inter, Helvetica, Arial, sans-serif;
          margin-bottom: 16px;
        }

        .highlight {
          background: #f3f3f3;
        }

        pre {
          code {
            background: unset;
            border-radius: unset;
            background: unset;
            font-size: 12px;
            padding: unset;
          }
        }
      }

      .table-wrapper {
        box-shadow: none;

        table {
          border-collapse: initial;
          border-spacing: .125rem;

          tr {
            th, td {
              text-align: left;
              border-bottom: unset;
              border-left: unset;
            }

            th {
              background-color: unset;
              font-weight: 500;
              padding: 6px 13px;
              font-size: 16px !important;
            }
          }

          tr:nth-child(odd) {
            td {
              background-color: #EBECED;
            }
          }

          tr:nth-child(even) {
            td {
              background-color: #EFF1F5;
            }
          }
        }
      }
    }
  }
}