@import "./color_schemes/light";

.side-bar {
  /*background-color: #C85F00 !important;*/ // Orange
  /*background-color: #006464 !important;*/ // Dark green
  /*background-color: #E1BE00 !important;*/ // Yellow
  //background-color: #009B96 !important;
}

//.
//.site-header .site-title:hover {
//  background: linear-gradient(to right, rgba(3, 134, 134, 0), rgba(3, 134, 134, 1)) !important;
//}


.site-footer {
  display: none !important;
}

html {
  body {
    background-color: #F8F9FA;

    .side-bar {
      max-width: 400px;
      background-color: #fff;
      scrollbar-color: #b1b1b1 #eee;
      scrollbar-width: thin;

      .site-header {
        width: 400px;
        border-bottom: none !important;

        .site-title:hover {
          background: none !important;
        }

        .site-title {
          .site-logo {
            width: 100px;
          }
        }
      }

      .site-nav {
        padding-top: 0;
        width: 400px;

        .nav-list {
          .nav-list-item {
            .nav-list-link {
              cursor: pointer;
              text-decoration: none;
              font-family: Montserrat, Helvetica, Arial, sans-serif;
              border-radius: .75rem;
              color: #333;
              font-size: 1rem;
              font-weight: 700;
              line-height: 1.3125rem;
              padding: .75rem 1rem;
              margin: 15px 20px 0;
            }

            .nav-list-link:hover {
              background: #f7f7f7 !important;
            }

            .nav-list-link.active {
              background: #e5f2f2;
              color: #005050;
            }
          }
        }

        .nav-list-expander {
          display: none;
        }
      }
    }

    #top {
      margin-left: 400px;
      max-width: none;
    }

    #main-content {

      main {
        //a {
        //  color: #E1BE00;
        //  cursor: pointer;
        //  text-decoration: none;
        //}

        //blockquote {
        //  background-color: #E1BE00;
        //  color: #605101;
        //  padding: 1px 20px;
        //  border-left: 4px solid #a08600;
        //}
      }

      table {
        tr {
          th, td {
            text-align: left;
          }

          th {
            //background-color: #006464;
            //border-left: 1px solid #009B96;
          }

          th:first-child {
            border-left: 0;
          }
        }
      }
    }
  }
}